<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.demo.sky.mapper.DishMapper">

    <select id="pageDish" resultType="com.demo.sky.vo.DishVO">
        select d.*,c.name as categoryName
        from dish d left join category c on d.category_id = c.id
        <where>
            <if test="name!=null">
                and d.name like concat('%',#{name},'%')
            </if>
            <if test="categoryId!=null">
                and d.categoryId like concat('%',#{categoryId},'%')
            </if>
            <if test="status!=null">
                and d.status like concat('%',#{status},'%')
            </if>
        </where>
        order by d.create_time desc
    </select>

    <select id="listByCategoryId" resultType="com.demo.sky.dao.Dish">
        select *
        from dish
        <where>
            <if test="name!=null">
                and name like concat('%',#{name},'%')
            </if>
            <if test="categoryId!=null">
                and category_id=#{categoryId}
            </if>
            <if test="status!=null">
                and status=#{status}
            </if>
        </where>
        order by create_time desc
    </select>

    <select id="getBySetmealId" resultType="com.demo.sky.dao.Dish">
        select d.*
        from dish d,
             setmeal_dish sd
        where d.id = sd.dish_id
          and sd.setmeal_id = #{id}
    </select>

    <select id="countByMap" resultType="java.lang.Integer">
        select count(id) from dish
        <where>
            <if test="status != null">
                and status = #{status}
            </if>
            <if test="categoryId != null">
                and category_id = #{categoryId}
            </if>
        </where>
    </select>

</mapper>
